<section class="content">
    <div class="content-girl">
        <img
            data-src="./images/calculatorGirl.webp"
            alt="content girl"
            loading="lazy"
        />
    </div>
    <div class="content-stars">
        <img data-src="./images/stars.webp" alt="content girl" loading="lazy" />
    </div>
    <div class="content-container">
        <div class="content-info">
            <div class="content-info__top">
                <h2 data-title="contentTitle1" class="contentDesktopTitle">
                    Desire <span>values</span> content
                </h2>
                <h2 data-title="contentTitle2" class="contentDesktopTitle">
                    like no one else does
                </h2>
                <div class="contentMobileTitle">
                    <div>
                        <h2 data-title="contentTitleMobile1">
                            Desire <span>values</span>
                        </h2>
                        <h2 data-title="contentTitleMobile2">content</h2>
                    </div>
                    <div>
                        <h2 data-title="contentTitleMobile2_1">like no one</h2>
                        <h2 data-title="contentTitleMobile2_2">else does</h2>
                    </div>
                </div>
            </div>
            <h3 class="content-3" data-title="contentTitle3">
                We made the <span>largest</span><br class="mobile" />
                payouts to content creators <br />
                among all platforms.
            </h3>
            <div class="content-info__bottom">
                <div>
                    <p data-title="contentTitle4">
                        Earnings of a creator on<br />
                        other platforms:
                    </p>
                    <p data-title="contentCommission1">up to 80% of revenue</p>
                </div>
                <div>
                    <p data-title="contentTitle5">
                        Earnings of a creator<br />
                        on Desire:
                    </p>
                    <p data-title="contentCommission2">
                        <span>from 85%</span> of revenue
                    </p>
                </div>
            </div>
            <a href="https://app.desire.fans" data-title="createProfile"
                >But first – create a profile 🙂</a
            >
        </div>
    </div>
</section>
