<section id="creator" class="creator container">
    <div class="blur1"></div>
    <div class="blur-2"></div>
    <div class="creator-background">
        <img loading="lazy" src="./images/bigLogo.svg" alt="creator" />
    </div>
    <h2 data-title="creatorDesire">Creator on <span>Desire</span></h2>
    <div class="creator-wrap">
        <div class="creator1">
            <img
                loading="lazy"
                src="./images/creator1.svg"
                alt="creator icons"
            />
        </div>
        <div class="creator2">
            <img
                loading="lazy"
                src="./images/creator2.svg"
                alt="creator icons"
            />
        </div>
        <div class="creator3">
            <img
                loading="lazy"
                src="./images/creator3.svg"
                alt="creator icons"
            />
        </div>
        <div class="creator-card creator-card__1">
            <div class="creator-card__bg">
                <div class="big-letter">M</div>
                <div class="small-title">oney</div>
            </div>
            <div class="creator-card__info">
                <h3 data-title="cardTitle1">
                    Self <span>evaluates</span> their posts
                </h3>
                <p data-title="cardSubtitle1">
                    Each photo, video, and text <br />
                    can be valued in monetary <br />
                    terms
                </p>
            </div>
        </div>
        <div class="creator-card creator-card__2">
            <div class="creator-card__bg">
                <div class="big-letter">A</div>
                <div class="small-title">dvertising</div>
            </div>
            <div class="creator-card__info">
                <h3 data-title="cardTitle2">
                    <span>Doesn't need</span> <br />
                    advertisers
                </h3>
                <p data-title="cardSubtitle2">
                    After all, the money comes from <br />
                    followers willing to pay well <br />
                    for content
                </p>
            </div>
        </div>
        <div class="creator-card creator-card__3">
            <div class="creator-card__bg">
                <div class="big-letter">S</div>
                <div class="small-title">tatistics</div>
            </div>
            <div class="creator-card__info">
                <h3 data-title="cardTitle3">
                    <span>Doesn't depend</span> <br />
                    on account statistics
                </h3>
                <p data-title="cardSubtitle3">
                    Because they don't need <br />
                    advertisers
                </p>
            </div>
        </div>
        <div class="creator-card creator-card__4">
            <div class="creator-card__bg">
                <div class="big-letter">C</div>
                <div class="small-title">reate</div>
            </div>
            <div class="creator-card__info">
                <h3 data-title="cardTitle4">
                    Full of enthusiasm, <br />
                    <span>wants to create</span>
                </h3>
                <p data-title="cardSubtitle4">
                    The better the content, <br />
                    the more it's worth. <br />
                    The more followers, <br />
                    -the higher the income
                </p>
            </div>
        </div>
        <div class="creator-card creator-card__5">
            <div class="creator-card__bg">
                <div class="big-letter">E</div>
                <div class="small-title">arn</div>
            </div>
            <div class="creator-card__info">
                <h3 data-title="cardTitle5"><span>Earns</span> monthly</h3>
                <p data-title="cardSubtitle5">
                    Because fans subscribe <br />
                    to the content, and the <br />
                    subscription price is set <br />
                    by the creator themselves
                </p>
            </div>
        </div>
    </div>
</section>
