<section id="delight" class="delight">
    <div class="container">
        <div class="delight-title">
            <div class="delightIcon1">
                <img
                    loading="lazy"
                    src="./images/delight1.svg"
                    alt="delight icon"
                />
            </div>
            <h2 data-title="delightTitle">
                Desire – <span>delight</span> from the first moment
            </h2>
        </div>

        <div class="delight-wrap">
            <div class="delight-card delight-1">
                <div class="delight-info">
                    <div>
                        <h3 data-title="delightTitle1">
                            The highest <span>payouts</span>
                        </h3>
                        <p data-title="delightSubtitle1">
                            among all media platforms. We truly value you.
                        </p>
                    </div>
                </div>
                <div class="delight-preview">
                    <div class="blur-14"></div>
                    <div class="blur-15"></div>
                    <picture>
                        <source
                            srcset="./images/delightMobile1.webp"
                            media="(max-width: 650px)"
                        />
                        <img
                            src="./images/delight1.webp"
                            alt=""
                            loading="lazy"
                        />
                    </picture>
                </div>
            </div>
            <div class="delight-card delight-2">
                <div class="delight-preview">
                    <div class="delightIcon2">
                        <img
                            src="./images/delight2.svg"
                            alt="delight icon"
                            loading="lazy"
                        />
                    </div>
                    <div class="blur-16"></div>
                    <div class="blur-17"></div>
                    <picture>
                        <source
                            srcset="./images/delightMobile2.webp"
                            media="(max-width: 650px)"
                        />
                        <img
                            src="./images/delight2.webp"
                            alt=""
                            loading="lazy"
                        />
                    </picture>
                </div>
                <div class="delight-info">
                    <div>
                        <h3 data-title="delightTitle2">
                            All over the <span>world</span>
                        </h3>
                        <p data-title="delightSubtitle2">
                            Desire works everywhere, so your follower can be
                            located in and pay for the subscription almost from
                            any country.
                        </p>
                    </div>
                </div>
            </div>
            <div class="delight-card delight-3">
                <div class="delight-info">
                    <div>
                        <h3 data-title="delightTitle3">
                            Instant <span>withdrawal</span> to the card
                        </h3>
                        <p data-title="delightSubtitle3">
                            2 clicks – and your funds are already on your card
                        </p>
                    </div>
                </div>
                <div class="delight-preview">
                    <div class="blur-18"></div>
                    <div class="blur-19"></div>
                    <picture>
                        <source
                            srcset="./images/delightMobile3.webp"
                            media="(max-width: 650px)"
                        />
                        <img
                            src="./images/delight3.webp"
                            alt=""
                            loading="lazy"
                        />
                    </picture>
                </div>
            </div>
            <div class="delight-card delight-4">
                <div class="delight-preview">
                    <div class="blur-20"></div>
                    <div class="blur-21"></div>
                    <picture>
                        <source
                            srcset="./images/delightMobile4.webp"
                            media="(max-width: 650px)"
                        />
                        <img
                            src="./images/delight4.webp"
                            alt=""
                            loading="lazy"
                        />
                    </picture>
                </div>
                <div class="delight-info">
                    <div>
                        <h3 data-title="delightTitle4">
                            Security and <span>privacy</span>
                        </h3>
                        <p data-title="delightSubtitle4">
                            Your data is protected by the most advanced
                            encryption systems. <br />On Desire, you are safe
                        </p>
                    </div>
                </div>
            </div>
            <div class="delight-card delight-5">
                <div class="delight-info">
                    <div class="delightIcon3">
                        <img
                            loading="lazy"
                            src="./images/delight3.svg"
                            alt="delight icon"
                        />
                    </div>
                    <div>
                        <h3 data-title="delightTitle5">
                            24/7 <span>support</span>
                        </h3>
                        <p data-title="delightSubtitle5">
                            For any questions, at any time of day or night, we
                            work for you
                        </p>
                    </div>
                </div>
                <div class="delight-preview">
                    <div class="blur-22"></div>
                    <div class="blur-23"></div>
                    <div class="delightIcon4">
                        <img
                            loading="lazy"
                            src="./images/delight4.svg"
                            alt="delight icon"
                        />
                    </div>
                    <picture>
                        <source
                            srcset="./images/delightMobile5.webp"
                            media="(max-width: 650px)"
                        />
                        <img
                            src="./images/delight5.webp"
                            alt=""
                            loading="lazy"
                        />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
