<section class="please">
    <div class="container">
        <div class="pleaseMobile-1">
            <img loading="lazy" src="./images/please.svg" alt="please icon" />
        </div>
        <div class="pleaseMobile-2">
            <img loading="lazy" src="./images/please2.svg" alt="please icon" />
        </div>
        <h2 data-title="pleaseTitle">
            Delight your followers and they will <span>delight</span> you
        </h2>
        <div class="please-wrap">
            <div class="please-1">
                <img
                    loading="lazy"
                    src="./images/please.svg"
                    alt="please icon"
                />
            </div>
            <div class="please-2">
                <img
                    loading="lazy"
                    src="./images/please2.svg"
                    alt="please icon"
                />
            </div>
            <div class="creator-card creator-card__6">
                <div class="please-img">
                    <img
                        loading="lazy"
                        src="./images/please1.webp"
                        alt="please preview"
                    />
                </div>
                <div class="creator-card__bg">
                    <div class="big-letter">C</div>
                    <div class="small-title">ommunication</div>
                </div>
                <div class="creator-card__info">
                    <h3 data-title="cardTitle6">
                        Communication in a private chat
                    </h3>
                    <p data-title="cardSubtitle6">
                        Communicate, share emotions, <br />
                        joy, and receive <br />
                        rewards.
                    </p>
                </div>
            </div>
            <div class="creator-card creator-card__7">
                <div class="please-img">
                    <img
                        loading="lazy"
                        src="./images/please2.webp"
                        alt="please preview"
                    />
                </div>
                <div class="creator-card__bg">
                    <div class="big-letter">C</div>
                    <div class="small-title">ontent</div>
                </div>
                <div class="creator-card__info">
                    <h3 data-title="cardTitle7">Photo/video content</h3>
                    <p data-title="cardSubtitle7">
                        Show everything you are <br />
                        capable of. Create beautifully, <br />
                        be bright and unique.
                    </p>
                </div>
            </div>
            <div class="creator-card creator-card__8">
                <div class="please-img">
                    <img
                        loading="lazy"
                        src="./images/please3.webp"
                        alt="please preview"
                    />
                </div>
                <div class="creator-card__bg">
                    <div class="big-letter">E</div>
                    <div class="small-title">xclusive</div>
                </div>
                <div class="creator-card__info">
                    <h3 data-title="cardTitle8">Exclusive content</h3>
                    <p data-title="cardSubtitle8">
                        Share exclusives, <br />
                        bringing your fans <br />
                        to complete ecstasy!
                    </p>
                </div>
            </div>
            <div class="creator-card creator-card__9">
                <div class="please-img">
                    <img
                        loading="lazy"
                        src="./images/please4.webp"
                        alt="please preview"
                    />
                </div>
                <div class="creator-card__bg">
                    <div class="big-letter">M</div>
                    <div class="small-title">essages</div>
                </div>
                <div class="creator-card__info">
                    <h3 data-title="cardTitle9">
                        Paid and free <br />
                        private messages
                    </h3>
                    <p data-title="cardSubtitle9">
                        You decide whether <br />
                        your message will be viewed <br />
                        for free or if it <br />
                        deserves more ;)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
