<section id="steps" class="steps container">
    <h2 data-title="stepsTitle">
        How to create your <br />
        <span>universe</span> of generous<br />
        fans?
    </h2>
    <div class="steps-wrap">
        <div class="step step-1">
            <div class="step-info">
                <div>
                    <h3 data-title="stepTitle1">
                        Step 1 <br />
                        Create a beautiful <span>profile</span>
                    </h3>
                    <p data-title="stepSubtitle1">
                        Sign up, then add <br />
                        a cute avatar, a status, and some <br />
                        appealing content for your <br />
                        future fans 🙂
                    </p>
                </div>
            </div>
            <div class="step-preview">
                <div class="blur-3"></div>
                <div class="blur-4"></div>
                <div class="stepIcon-1">
                    <img
                        loading="lazy"
                        src="./images/stepIcon1.svg"
                        alt="steps icons"
                    />
                </div>
                <picture>
                    <source
                        srcset="./images/stepMobile1.webp"
                        media="(max-width: 650px)"
                    />
                    <img
                        loading="lazy"
                        src="./images/step1.webp"
                        alt="step"
                        loading="lazy"
                    />
                </picture>
            </div>
        </div>
        <div class="step step-2">
            <div class="step-preview">
                <div class="blur-5"></div>
                <div class="blur-6"></div>
                <picture>
                    <source
                        srcset="./images/stepMobile2.webp"
                        media="(max-width: 650px)"
                    />
                    <img
                        loading="lazy"
                        src="./images/step2.webp"
                        alt="step"
                        loading="lazy"
                    />
                </picture>
            </div>
            <div class="step-info">
                <div class="arrow-1">
                    <img
                        loading="lazy"
                        src="./images/arrow1.svg"
                        alt="steps arrow"
                    />
                </div>
                <div>
                    <h3 data-title="stepTitle2">
                        Step 2 <br />
                        Setup a <span>subscription</span> for your content
                    </h3>
                    <p data-title="stepSubtitle2">
                        Set a monthly subscription price <br />
                        that your beloved followers will <br />
                        pay you on a regular basis
                    </p>
                </div>
            </div>
        </div>
        <div class="step step-3">
            <div class="step-info">
                <div class="arrow-2">
                    <img
                        loading="lazy"
                        src="./images/arrow2.svg"
                        alt="steps arrow"
                    />
                </div>
                <div>
                    <h3 data-title="stepTitle3">
                        Step 3 <br />
                        <span>Tell</span> your followers that you are now on
                        Desire
                    </h3>
                    <p data-title="stepSubtitle3">
                        Notify your followers on social media about your <br />
                        page on Desire. Share details about the exclusive <br />
                        content they can see only here
                    </p>
                </div>
            </div>
            <div class="step-preview">
                <div class="blur-7"></div>
                <div class="blur-8"></div>
                <div class="stepIcon-2">
                    <img
                        loading="lazy"
                        src="./images/stepIcon2.svg"
                        alt="steps icons"
                    />
                </div>
                <picture>
                    <source
                        srcset="./images/stepMobile3.webp"
                        media="(max-width: 650px)"
                    />
                    <img
                        loading="lazy"
                        src="./images/step3.webp"
                        alt="step"
                        loading="lazy"
                    />
                </picture>
            </div>
        </div>
        <div class="step step-4">
            <div class="step-preview">
                <div class="blur-9"></div>
                <div class="blur-10"></div>
                <div class="stepIcon-3">
                    <img
                        loading="lazy"
                        src="./images/stepIcon3.svg"
                        alt="steps icons"
                    />
                </div>
                <div class="stepIcon-4">
                    <img
                        loading="lazy"
                        src="./images/stepIcon4.svg"
                        alt="steps icons"
                    />
                </div>
                <picture>
                    <source
                        srcset="./images/stepMobile4.webp"
                        media="(max-width: 650px)"
                    />
                    <img
                        loading="lazy"
                        src="./images/step4.webp"
                        alt="step"
                        loading="lazy"
                    />
                </picture>
            </div>
            <div class="step-info">
                <div class="arrow-3">
                    <img
                        loading="lazy"
                        src="./images/arrow3.svg"
                        alt="steps arrow"
                    />
                </div>
                <div>
                    <h3 data-title="stepTitle4">
                        Step 4 <br />
                        Add more content, <span>earn</span> more
                    </h3>
                    <p data-title="stepSubtitle4">
                        Be active. Update your profile with amazing content,
                        <br />
                        delight your fans with exclusives more often, interact,
                        <br />
                        remind them about yourself on social media, and increase
                        your income
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
